In [1]:
    #LIST 1
#data pada list dapat diisi dengan string, interger maupun boolean
#list juga bisa diibaratkan seperti array

pti = ['fkip','ums',2020,True]
      #[ 0    , 1   , 2  , 3 ]
#list dihitung dari posisi data indeks ke-0

print (pti[0]) #list pada indeks ke-0
print (pti[1]) #list pada indeks ke-1
print (pti[2]) #list pada indeks ke-2
print (pti[3]) #list pada indeks ke-3
print ("-----------------------")
print (pti[-1]) #list indeks ke-1 terakhir (indeks ke [3])
print (pti[-4]) #list indeks ke-4 terakhir (indeks ke [0])
print ("-----------------------")
#LIST 2
pti2 = ['p','t','i','u','m','s']
    # [  0, 1, , 2 , 3 , 4 , 5  ]
print (pti2[1:3]) #menampilkan indeks ke-1 sampai ke-2
print (pti2[:3]) #menampilkan indeks paling awal sampai ke-2
print (pti2[2:]) #menampilkan indeks ke-2 sampai terakhir
print (pti2[:]) #menampilkan seluruh data list
print ("-----------------------")
del pti2[3:6] #menghapus data indeks ke 3 sampai ke 5
print (pti2)
pti2.remove('p') #menghapus data 'p'
print (pti2)

fkip
ums
2020
True
-----------------------
True
fkip
-----------------------
['t', 'i']
['p', 't', 'i']
['i', 'u', 'm', 's']
['p', 't', 'i', 'u', 'm', 's']
-----------------------
['p', 't', 'i']
['t', 'i']

In [51]:
#TUPLE
mhs=(118,"Zulfikar SP","PTI")
print ("NIM   :",mhs[0])
print ("Nama  :",mhs[1])
print ("Prodi :",mhs[2])
print("=================================")
mhs2= 28,"Fauzan Al Dary","PTI"
nim,nama,prodi = mhs2
print('Data Mahasiswa, NIM :{}, Nama :{}, Prodi :{}'.format(nim,nama,prodi))

NIM   : 118
Nama  : Zulfikar SP
Prodi : PTI
=================================
Data Mahasiswa, NIM :28, Nama :Fauzan Al Dary, Prodi :PTI

In [50]:
 #deklarasi set
A = {1,2,3,4,5}
B = {4,5,6,7,8}

 #union (menggabungkan ke 2 himpunan)
print (A|B)

 #intersect (menampilkan irisan antar 2 himpunan)
print (A&B)

 #difference ( menampilkan kasil pengurangan dari 2 himpunan )
print (A-B)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [65]:
 #deklarasi dictionaries
buku = {'id':101,'nama buku':'Pemograman Python','Harga':5000,'ket':'tersedia'}

 #untuk menampilkan dictionary ada 2 tipe
print(buku['id'])
print(buku.get('nama buku'))
print(buku.get('harga'))
print(buku['ket'])

101
Pemograman Python
None
tersedia

In [5]:
#kegiatan1
bulan1 = ['januari','februari','maret','april','mei','juni']
bulan2 = ['juli','agustus','september','oktober','november','desember']

print('Jumlah elemen pada list bulan1 : ', len(bulan1)) #fungsi len untuk mengetahui panjang list
tahun = bulan1 + bulan2 #penggabungan list
print('Jumlah elemen pada list tahun : ', len(tahun))
print(tahun) #menampilkan seluruh data list
print(tahun[2:5]) #menampilkan list indeks ke 2 sampai sebelum ke 5
print(tahun[:6]) #menampilkan list sampai sebelum indeks ke 6 (indeks ke 5)
print(tahun[8:]) #menampilkan list mulai dari indeks ke 8
del tahun[2] #menghapus list pada bulan maret (indeks ke 2)
tahun.remove('desember') #menghapus isi data list 'desember'
print(tahun)
tahun.insert(2,'maret')  #menambahkan data 'maret' pada list dengan posisi indeks ke 2
tahun.append('desember') #menambahkan data 'desember' ke indeks terakhir

print(tahun)
tahun.reverse() #membalikan urutan list
print(tahun)

Jumlah elemen pada list bulan1 :  6
Jumlah elemen pada list tahun :  12
['januari', 'februari', 'maret', 'april', 'mei', 'juni', 'juli', 'agustus', 'september', 'oktober', 'november', 'desember']
['maret', 'april', 'mei']
['januari', 'februari', 'maret', 'april', 'mei', 'juni']
['september', 'oktober', 'november', 'desember']
['februari', 'maret', 'april', 'mei', 'juni', 'juli', 'agustus', 'september', 'oktober', 'november']
['februari', 'maret', 'maret', 'april', 'mei', 'juni', 'juli', 'agustus', 'september', 'oktober', 'november', 'desember']
['desember', 'november', 'oktober', 'september', 'agustus', 'juli', 'juni', 'mei', 'april', 'maret', 'maret', 'februari']

In [7]:
#kegiatan 2 : tuple
truk = ('hino', 3000, 2.5 , 130 )
merk, cc , berat , top_speed = truk
print(truk[0]) #menampilkan data indeks ke 0
print(truk[:2]) #menampilkan data sampai sebelum list ke 2
print(truk[2:])  #menampilkan data mulai dari indeks ke 2
print(truk.index(3000)) #mengecek posisi indeks '3000'
print(2.5 in truk) #mengecek data '2.5' pada tuple truk
print('truk {} memiliki berat {} ton, kapasitas {} cc dan top speed {} km/jam'.
format(merk,berat,cc,top_speed))

hino
('hino', 3000)
(2.5, 130)
1
True
truk hino memiliki berat 2.5 ton, kapasitas 3000 cc dan top speed 130 km/jam

In [3]:
#kegiatan 3
set_satu = {1,2,3}
set_dua = {4,5,6}

set_satu.add(4) #menambahkan data '4' pada set_satu
set_dua.add(7) #menambahkan data '7' pada set_dua

print(set_satu)
print(set_dua)

set_satu.update([5,6]) #menambahkan data '5 6' pada set_satu
set_dua.update([8,9]) #menambahkan data '8 9' pada set_dua

print(set_satu)
print(set_dua)

set_satu.discard(6) #menghilangkan data '6'
set_dua.remove(4)   #menghapus data '6'

print(set_satu | set_dua) #menampilkan gabungan himpunan set_satu dan set_dua
print(set_satu & set_dua) #menampilkan irisan himpunan set_satu dan set_dua
print(1 in set_satu) #cek data '1' pada set_satu

{1, 2, 3, 4}
{4, 5, 6, 7}
{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5}
True

In [4]:
#kegiatan 4
mahasiswa = {'nama':'Andika','umur':21}
#menambahkan data pada dictionary
mahasiswa['umur'] = 19 
mahasiswa['alamat'] = 'Sragen'
mahasiswa['angkatan'] = 2020

print(mahasiswa) #menampilkan data mahasiswa
print(mahasiswa.pop('angkatan')) #menghapus data angkatan
print(mahasiswa)
print('nama' in mahasiswa) #cek data nama
print(len(mahasiswa)) #panjang data
print(sorted(mahasiswa)) #mengurutkan key pada data mahasiswa
mahasiswa.clear() #menghapus seluruh data
print(mahasiswa)

{'nama': 'Andika', 'umur': 19, 'alamat': 'Sragen', 'angkatan': 2020}
2020
{'nama': 'Andika', 'umur': 19, 'alamat': 'Sragen'}
True
3
['alamat', 'nama', 'umur']
{}